html(lang="en")
  head
    title= title
    include ./includes/swiper.pug
  body(style='margin: 0;')
    include ./includes/banner.pug

    each item in images
      div(style='display: flex;')
        img(src=item, alt=item, style='flex: 1')
        form(action="/api/del", method="post", style='flex: 1')
          input(type="hidden", name="item", value=item)
          input(type="submit", value="删除" style='width: 100%; height: 60px; font-size: 30px;')

    form(action="/api/add", method="post")
      input(type="file", name="file")
      input(type="submit", value="上传")
